@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Chat</title>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Css/common.css" rel="stylesheet"/>
    <link href="~/Content/Css/chat.css" rel="stylesheet"/>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ajax.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="hor-left-parent" data-bind="if: currentUser() != null">
                <span class="h4" data-bind="text: currentUser().UserName"></span>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="hor-right-parent">
                @Html.ActionLink("Close", "Close", "Chat", null, new { @class = "btn btn-link" })
            </div>
        </div>
    </div>
    <div id="alert-error-div" class="row hidden" data-bind="if: hasErrorMessage()">
        <div class="hor-center-parent col-xs-12">
            <div class="alert alert-danger" data-bind="html: errorMessage()"></div>
        </div>
    </div>
    <div id="alert-success-div" class="row hidden" data-bind="if: hasSuccessMessage()">
        <div class="hor-center-parent col-xs-12">
            <div class="alert alert-success" data-bind="html: successMessage()"></div>
        </div>
    </div>
    <div id="chat-div" class="row" data-bind="if: currentUser() != null">
        <div class="col-md-8">
            <div id="chat-panel" class="panel panel-default">
                <div class="panel-heading">
                    <div class="h4 panel-title">
                        <div class="pull-left dropdown">
                            <div class="pointered dropdown-toggle" data-toggle="dropdown" data-bind="if: currentChat() != null">
                                <i class="fa fa-cog"></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a class="pointered" data-toggle="modal" data-target="#add-user-modal">Add User</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JavaScript</a></li>
                            </ul>
                        </div>

                        <span data-bind="text: currentChat() == null ? 'Chat is not chosen' : currentChat().Name"></span>
                        <div class="pull-right pointered" data-bind="if: currentChat() != null">
                            <i class="fa fa-times" data-bind="click: closeChatClick"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div data-bind="if: currentChat() == null">
                        <div class="centered-parent">
                            <div class="centered-child">
                                <span>Choose some chat</span>
                            </div>
                        </div>
                    </div>
                    <div data-bind="if: currentChat() != null">
                        <div id="chat-messages" data-bind="css: $root.isMssagesLoading() ? 'is-loading': '', foreach: { data: messages, afterRender: afterRenderMessages }, event: { scroll: onChatMessagesScroll }">
                            <div class=" clearfix">
                                <div data-bind="if: !$data.IsAdminMessage">
                                    <div data-bind="attr: { 'class': 'message ' + ($root.currentUser().Guid === UserGuid ? 'message-own' : 'message-alien')}">
                                        <div>
                                            <strong data-bind="text: UserName"></strong>
                                        </div>
                                        <div class="time-font">
                                            <em data-bind="text: SendTimeDisplay"></em>
                                        </div>
                                        <span data-bind="text: Text"></span>
                                    </div>
                                </div>
                                <div data-bind="if: $data.IsAdminMessage">
                                    <div class="text-center">
                                        <i data-bind="text: Text"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="messages-loading" data-bind="visible: $root.isMssagesLoading()">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        </div>
                        <div id="new-message">
                            <input class="btn btn-default" type="button" value="Send" data-bind="click: sendMessageClick, enable: messageText() != null && messageText().length" />
                            <div>
                                <input class="form-control" data-bind="textinput: messageText, event: {keyup: newMessageTextKeyUp}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="chats-panel" class="panel panel-default">
                <div class="panel-heading">
                    <div class="h4 panel-title">
                        <a data-toggle="collapse" href="#chats-collapse">All Chats</a>
                        <div class="pull-right pointered">
                            <i id="all-chats-spinner" class="fa fa-refresh" data-bind="click: updateChatsClick"></i>
                        </div>
                    </div>
                </div>
                <div id="chats-collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul data-bind="foreach: chats">
                            <li>
                                <a class="btn" data-bind="text: Name, click: $root.setChatClick"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="users-panel" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="h4 panel-title">
                        <a data-toggle="collapse" href="#users-collapse">All Users</a>
                        <div class="pull-right pointered">
                            <i id="all-users-spinner" class="fa fa-refresh" data-bind="click: updateUsersClick"></i>
                        </div>
                    </div>
                </div>
                <div id="users-collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="div-with-vertical-scroll" data-bind="foreach: users">
                            <div class="row">
                                <div class="col-xs-12">
                                    <span data-bind="text: UserName"></span>
                                    <label data-bind="if: IsOnline">
                                        <span class="online">Online</span>
                                    </label>
                                    <label data-bind="if: !IsOnline">
                                        <span class="offline">Offline</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="new-chat-panel" class="panel panel-default">
                <div class="panel-heading">
                    <div class="h4 panel-title">
                        <a data-toggle="collapse" href="#new-chat-collapse">New Chat</a>
                    </div>
                </div>
                <div id="new-chat-collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="centered-parent">
                            <div class="centered-child">
                                <span>Name of the new chat</span>
                                <input class="form-control" type="text" data-bind="textinput: newChatName"/>
                                <div class="btn btn-default" data-bind="click: createNewChat">Create</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div data-bind="if: $root.currentChat != null">
    <div id="add-user-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose User for chat</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Enter User name:</h4>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <input class="form-control" data-bind="textInput: addUserViewModel().userName" />
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-control btn btn-default" data-bind="click: addUserViewModel().searchClick">Search</div>
                                </div>
                            </div>
                            <div class="row" data-bind="if: addUserViewModel().errorUserNameLengthMessageShow()">
                                <div class="col-xs-12 has-error">
                                    <label class="control-label">
                                        <i>User name must include at least 2 symbols</i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="add-user-search-results-container" class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Search results</h4>
                                </div>
                                <div class="col-xs-12">
                                    <div id="add-user-search-results">
                                        <div data-bind="if: addUserViewModel().searchResults().length">
                                            <div class="row" data-bind="foreach: addUserViewModel().searchResults">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-1">
                                                            <div class="has-success" data-bind="if: $parent.addUserViewModel().selectedUsers().includes(Guid)">
                                                                <label class="control-label" title="Remove" data-bind="click: $parent.addUserViewModel().selectUserClick">
                                                                    <i class="fa fa-check pointered"></i>
                                                                </label>
                                                            </div>
                                                            <div data-bind="if: !$parent.addUserViewModel().selectedUsers().includes(Guid)">
                                                                <label class="control-label not-added-user" title="Add" data-bind="click: $parent.addUserViewModel().selectUserClick">
                                                                    <i class="fa fa-plus pointered"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-11 pointered">
                                                            <span data-bind="html: UserName, attr: {'data-users-guid': Guid}, click: $parent.addUserViewModel().selectUserClick"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="if: !addUserViewModel().searchResults().length">
                                            <i>No results..</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" data-bind="if: addUserViewModel().selectedUsers().length">
                                    <div class="btn btn-primary" data-bind="click: addUserViewModel().commitClick">Commit</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading-image" class="hidden">
    <div>
        <div>
            <img src="~/Content/Images/ajax-loader.gif" alt="Loading"/>
            <br/>
            <span>Loading, please wait</span>
        </div>
    </div>
</div>

@* js load *@
<script src="~/Scripts/chat.js"></script>
</body>
</html>