@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Chat</title>
</head>
<body>
<div>
    <div class="hor-center-parent">
        @Html.ActionLink("Close", "Close", "Chat", null, new { @class = "btn btn-link" })
    </div>
</div>
</body>
</html>