html, body {
    width: 100%;
}

body > .container > .row {
    margin-top: 20px;
}

body > .container .panel {
    margin: 0 auto;
    margin-top: 20px;
}

#chat-panel {
    border: 1px solid #b1b1b1;
    margin-bottom: 10px;
}

#chat-panel > .panel-body {
    height: 400px;
}

div.h4 {
    text-align: center;
}

div.panel input {
    margin-bottom: 5px;
}

div.alert {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#chat-messages {
    height: 320px;
    margin: 5px;
    border: 1px solid #b1b1b1;
    overflow: scroll;
    overflow-x: hidden;
}

#new-message {
    margin: 5px;
}

#new-message > .btn {
    float: right;
}

#new-message > div {
    overflow: hidden;
    padding-right: .5em;
}

#new-message > div > input[type=text] {
    width: 100%;
}

#chats-panel, #users-panel, #new-chat-panel {
    border: 1px solid #b1b1b1;
}

#chats-panel .panel-body,
#users-panel .panel-body,
#new-chat-panel .panel-body {
    height: 150px;
}

#users-panel li {
    margin-bottom: 5px;    
}

label span.online {
    background-color: #228b22;
    color: white;
    padding: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
}

label span.offline {
    background-color: #a52a2a;
    color: white;
    padding: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
}

.time-font {
    font-size: 10px;
}

.message {
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 5px;
    max-width: 90%;
    overflow-wrap: break-word;
}

.message-own {
    float: left;
    text-align: left;
    border: 1px solid #99ccfc;
    background-color: #c7e4fe;
}

.message-alien {
    float: right;
    text-align: left;
    border: 1px solid #b6fc99;
    background-color: #cefec7;
}

#messages-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.is-loading {
    pointer-events: none;
    -ms-opacity: 0.4;
    opacity: 0.4;
}

#add-user-search-results {
    max-height: 100px;
    margin-bottom: 5px;
    padding: 5px;
    overflow: auto;
    overflow-x: hidden;
}

#add-user-search-results-container {
    margin-top: 10px;
}

.not-added-user {
    color: #787474;
}

.not-added-user:hover {
    color: #943518;
}

.div-with-vertical-scroll {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
}

#create-chat-button:hover {
    color: #228b22;
}