.hor-center-parent {
    width: 100%;
    text-align: center;
}

.hor-right-parent {
    width: 100%;
    text-align: right;
}

.hor-left-parent {
    width: 100%;
    text-align: left;
}

.centered-parent {
    display: table;
    width: 100%;
    height: 100%;
}

.centered-parent > .centered-child {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#loading-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 100;
    -ms-text-shadow: 0 0 3px black;
    text-shadow: 0 0 3px black;
}

#loading-image span {
    color: white;
    font-weight: bold;
}
#loading-image > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#loading-image > div > div {
    background-color: #787878;
    -ms-background-clip: content-box;
    background-clip: content-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pointered {
    cursor: pointer;
}

.dropdown-menu {
    margin: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}